<ion-header>
  <mat-toolbar color="primary">
    <span>Configurações de senha</span>
  </mat-toolbar>
</ion-header>

<ion-content padding>
  <mat-card>
    <mat-card-header text-center>
      <mat-card-title>Redefinição de Senha</mat-card-title>
      <mat-card-subtitle>Entre com seu email, senha que foi enviada para seu email e a nova senha</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="credentialsForm">
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email" type="email" inputmode="email" autofocus>
        <mat-error *ngIf="input.email.invalid && input.email.touched">
          {{  getErrorMessage('email') }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Senha enviada por email" formControlName="password"
          [type]="hide ? 'password' : 'text'" inputmode="password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="input.password.invalid && input.password.touched">
          {{ getErrorMessage('password') }}
        </mat-error>
      </mat-form-field>
      <br><br><br>
      <!-- Deve ter mais de 6 caracteres com letras maiusculas e minusculas, numeros e caracteres especiais -->
      <mat-form-field hintLabel="Min 4 caracteres">
        <input matInput placeholder="Nova senha" formControlName="passwordNew" [type]="hideNew ? 'password' : 'text'"
          inputmode="password" (keyup)="passwordChecker(input.passwordNew.value)">
        <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint align="end">{{ strenghtPassword }}</mat-hint>        
        <mat-error *ngIf="input.passwordNew.invalid && input.passwordNew.touched">
          {{ getErrorMessage('passwordNew') }}
        </mat-error>
        
      </mat-form-field>
      <mat-progress-bar mode="determinate" [color]="strenghtBarColor" [value]="strenghtBarValue">
      </mat-progress-bar>
      <mat-form-field>
        <input matInput placeholder="Confirme nova senha" formControlName="passwordNewConfirm"
          [type]="hideConfirm ? 'password' : 'text'" inputmode="password">
        <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="input.passwordNewConfirm.invalid && input.passwordNewConfirm.touched">
          {{ getErrorMessage('password') }}
        </mat-error>
      </mat-form-field>
      <br><br><br><br>
      <mat-card-actions text-center>
        <div margin>
          <button mat-raised-button color="primary" (click)="resetPassword()" text-uppercase
            [disabled]="!credentialsForm.valid">
            <strong>Redefinir</strong>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</ion-content>